
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
}

.section {
  padding: 80px 20px; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; 
}
